@model MvcKutuphane.Models.Entity.Tbl_yazar
@{
    ViewBag.Title = "YazarEkle";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<form class="form-group" method="post">
    <div></div>
    <div style="margin-top:15px">
        <label>Yazar Adı </label>
        @Html.TextBoxFor(y => y.YazarAd, new { @class = "form-control" })
        @Html.ValidationMessageFor(y => y.YazarAd)
    </div>
    <div style="margin-top:15px">
        <label>Yazar Soyadı </label>
        @Html.TextBoxFor(y => y.YazarSoyad, new { @class = "form-control" })
        @Html.ValidationMessageFor(y => y.YazarSoyad)
    </div>
    <div style="margin-top:15px">
        <label>Yazar Detay </label>
        @Html.TextAreaFor(y => y.Detay, new { @class = "form-control" })
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info" id="btn1">Yazar ekle</button>

    </div>

</form>

