@using MvcKutuphane.Models.Entity
@model List<Tbl_kitap>
@{
    ViewBag.Title = "YazarKitaplar";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Kitap Yazarı: @ViewBag.y1</h2>
<br />
<table class="table table-striped">
    <tr>
        <th>ID</th>
        <th>KİTAP ADI</th>
        <th>KATEGORİ</th>
        <th>YAYINEVİ</th>
    </tr>
    @foreach (var x in Model) { 
        <tr>
            <td>@x.KitapID</td>
            <td>@x.KitapAd</td>
            <td>@x.Kategori</td>
            <td>@x.Yayınevi</td>
        </tr>
    }
</table>

