@model MvcKutuphane.Models.Entity.Tbl_duyurular
@{
    ViewBag.Title = "duyuruDetay";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@using (Html.BeginForm("duyuruGuncelle", "duyuru", FormMethod.Post))//form method post olduğunda çalısacak kategori kontrollerine baglı güncelle altında
{
    <div style="margin-bottom:15px"></div>
    <div class="form-group">
        @Html.LabelFor(k => k.ID)
        @Html.TextBoxFor(k => k.ID, new { @class = "form-control" })
    </div>/*labelfor amacı sütunun adı ne ise onu getirmek database de ki sütun adı
text box for amacı da içinde gecerli olan degeri getirmek yani kutucuğun içinin dolu olmasını sağlıyo*/
    <br />
    <div class="form-group">
        <label>Duyuru Kategori</label>
        @Html.TextBoxFor(k => k.kategori, new { @class = "form-control" })
    </div>
    <br />
    <div class="form-group">
        <label>Duyuru İçerik</label>
        @Html.TextBoxFor(k => k.icerik, new { @class = "form-control" })
    </div>
    <br />
    <div class="form-group">
        <label>Duyuru Tarih</label>
        @Html.TextBoxFor(k => k.tarih, new { @class = "form-control" })
    </div>
    <br />
    <div>
        <button class="btn btn-warning">Güncelle</button>
    </div>
}


