@model MvcKutuphane.Models.Entity.TBLYAZAR
@{
    ViewBag.Title = "YazarEkle";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<form class="form-group" method="post">
    <div></div>
    <div style="margin-top:15px">
        <label>Yazar Adı</label>
        @Html.TextBoxFor(y => y.AD, new { @class = "form-control" })
        @Html.ValidationMessageFor(y => y.AD)
    </div>
    <div style="margin-top:15px">
        <label>Yazar Soyadı</label>
        @Html.TextBoxFor(y => y.SOYAD, new { @class = "form-control" })
        @Html.ValidationMessageFor(y => y.SOYAD)
    </div>
    <div style="margin-top:15px">
        <label>Yazar Detay Bilgileri</label>
        @Html.TextAreaFor(y => y.DETAY, new { @class = "form-control" })
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info">Yazar Ekle</button>
    </div>
</form>


