@using MvcKutuphane.Models.Entity
@model List<TBLHAREKET>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>İadesi Alınan Kitap Listesi</h2>

<table class="table table-bordered">
    <tr>
        <th>İşlem ID</th>
        <th>Kitap Adı</th>
        <th>Üye</th>
        <th>Personel</th>
        <th>Alış Tarihi</th>
        <th>Üye İade Tarihi</th>
        <th>Detaylar</th>
    </tr>
    @foreach (var k in Model)
    {
        <tr>
            <td>@k.ID</td>
            <td>@k.TBLKITAP.AD</td>
            <td>@k.TBLUYELER.AD&nbsp @k.TBLUYELER.SOYAD</td>
            <td>@k.TBLPERSONEL.PERSONEL</td>
            <td>@Convert.ToDateTime(k.ALISTARIH).ToString("dd/MM/yyyy")</td>
            <td>@Convert.ToDateTime(k.UYEGETIRTARIH).ToString("dd/MM/yyyy")</td>
            <td><a href="/Odunc/Odunciade/@k.ID" class="btn btn-default" style="background-color:#f87cdf; color:white">Detaylar</a></td>
        </tr>
    }
</table>

