@using MvcKutuphane.Models.Entity
@model List<Tbl_Hareket>
@{
    ViewBag.Title = "GecmisKitap";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<br />
<h2>Üye: @ViewBag.u1</h2>
<br />
<table class="table table-bordered" >
    <tr>
        <th>KİTAP ADI</th>
        <th>PERSONEL</th>
        <th>ALIŞ TARİHİ</th>
        <th>İADE TARİHİ</th>
    </tr>
    @foreach(var x in Model)
            {
                <tr>
                    <td>@x.Tbl_kitap.KitapAd</td>
                    <td>@x.Tbl_personel.PersonelAdSoyad</td>
                    <td>@Convert.ToDateTime(@x.AlısTarih).ToString("dd/MM/yyyy")</td>
                    <td>@Convert.ToDateTime(@x.İadeTarih).ToString("dd/MM/yyyy")</td>
                </tr>
            }
</table>

