@using MvcKutuphane.Models.Entity
@using PagedList
@using PagedList.Mvc

@model PagedList.IPagedList<Tbl_üyeler>
@{
    ViewBag.Title = "UyeIndex";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Üyeler</h2>
<table class="table table-bordered">
    <tr>
        <th>Üye Id</th>
        <th>Üye Adı</th>
        <th>Üye Soyadı</th>
        <th>Üye Okulu</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Üye Kitap Geçmişi</th>
    </tr>
    @foreach (var kt in Model)
    {
        <tr>
            <td>@kt.ÜyeID</td>
            <td>@kt.ÜyeAd</td>
            <td>@kt.ÜyeSoyad</td>
            <td>@kt.okul</td>
            <td><a href="/Uye/UyeSil/@kt.ÜyeID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Uye/UyeGetir/@kt.ÜyeID" class="btn btn-success">Güncelle</a></td>
            <td><a href="/Uye/GecmisKitap/@kt.ÜyeID" class="btn btn-success" style="background-color:lightseagreen">
                Kitap Geçmişi</a></td>
        </tr>
    }

</table>
@Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("UyeIndex", new { sayfa }))
<a href="/Uye/UyeEkle/" class="btn btn-primary">Yeni Üye Ekle</a>


