@using MvcKutuphane.Models.Entity
@model List<Tbl_kitap>
@{
    ViewBag.Title = "KitapIndex";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Kitaplar</h2>
@using (Html.BeginForm("KitapIndex", "Kitap", FormMethod.Get))
            {
                <div style="margin-bottom:15px; margin-top:15px;">
                    <b>Aranacak Kitap Adını Girin: &nbsp</b> @Html.TextBox("p")
                    <input type="submit" value="ara"/>
                </div>
            }


<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Kitap Adı</th>
        <th>Kitap Yazarı</th>
        <th>Kitabın Kategorisi</th>
        <th>Kitabın Basım Yılı</th>
        <th>Kitabın Yayın Evi</th>
        <th>Kitabın Sayfa Sayısı</th>
        <th>Kitabın Durumu</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var k in Model)
    {
        <tr>
            <td>@k.KitapID</td>
            <td>@k.KitapAd</td>
            <td>@k.Tbl_yazar.YazarAd&nbsp @k.Tbl_yazar.YazarSoyad</td>
            <td>@k.Tbl_kategori.Ad</td>
            <td>@k.BasımYıl</td>
            <td>@k.Yayınevi</td>
            <td>@k.SayfaSayısı</td>
            <td>@k.durum</td>
            <td><a href="/Kitap/KitapSil/@k.KitapID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Kitap/KitapGetir/@k.KitapID" class="btn btn-success">Güncelle</a></td>
        </tr>
    }
</table>
<a href="/Kitap/KitapEkle" class="btn btn-primary">Yeni Kitap Ekle</a>

